.container {
  max-width: 700px;
  margin: 0px auto;
  font-family: Arial, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  padding: 30px 10px 10px;
  position: relative;
}

.mainTitle {
  margin-bottom: 30px;
  color: rgb(54, 69, 171);
}
