.header {
  background-color: #12aaec;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: Roboto, sans-serif;
  padding: 10px 20px;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 10px 14px 0px;
}

.containerUser {
  display: flex;
  margin: 0px auto;
}

.containerIsAuth {
  display: flex;
  margin: 0px auto;
}

@media screen and (min-width: 640px){
  .headerWrapper {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px auto;
  }

  .menuWrapper {
    justify-content: flex-start;
    width: inherit;
    margin: 0px 10px 0px 0px;
  }
  
  .containerUser {
    margin: 0px;
  }
  
  .containerIsAuth {
    margin: 0px;
  }
}

@media screen and (min-width: 1100px){
  .headerWrapper {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-family: Roboto, sans-serif;
    margin: 0px auto;
  }
}


