.contactListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
}

.contactListTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3c3e58;
  text-align: center;
}

.contactList {
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
}

.contactItem {
  display: flex;
  margin: 0px 0px 12px 0px;
  box-shadow: 2px 2px 4px 2px rgba(32, 18, 18, 0.4);
  padding: 10px;
  border-radius: 4px;
  background-color: #deeeeb;
}

.contactItem:hover {
  background-color: #b4dfd7;
}

.contactDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 400;
  margin-right: 20px;
}

.contactDetailsWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactName {
  margin-right: 10px;
}

.contactNumberWrapper {
  min-width: 120px;
}

/* .contactNumber {
} */

.contactButton {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 0.9;
  padding: 6px;
  max-height: 28px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #566461;
  background-color: #6d807c;
  color: #ffffff;
  box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.4);
  transition: all 200ms ease-in-out;
}

.contactButton:hover {
  background-color: #abc7c1;
  color: #333d3a;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 550px){
  .contactDetailsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
  }
}

@media screen and (min-width: 1100px){
}
